<div class="navbar navbar-default">
    <div class="container">

        <div class="navbar-header">
            <span class="navbar-brand">
                <span class="fa fa-copyright fa-fw"></span>

                2016 {% trans %}Sid Roberts{% endtrans %}
            </span>
        </div>

    </div>
</div>
