<footer>
    <nav class="navbar">
        <div class="container">

            <span class="navbar-text">
                <span class="far fa-copyright fa-fw"></span>

                2020 <a href="https://sidroberts.co.uk/">Sid Roberts</a>
            </span>

        </div>
    </nav>
</footer>
