<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">

        <a href="{{ url('') }}" class="navbar-brand">
            {% trans %}New Project{% endtrans %}
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" data-controls="#navbar" aria-expanded="false" aria-label="{% trans %}Toggle navigation{% endtrans %}">
            <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
            
            <span class="navbar-toggler-icon"></span>
        </button>
        
        
        
        <div class="collapse navbar-collapse" id="navbar">

            <ul class="navbar-nav navbar-left">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        A
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        B
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        C
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <abbr title="English">EN</abbr>

                        <span class="caret"></span>
                    </a>

                    {% set languageCodes = translatorLocales %}

                    <ul class="dropdown-menu">
                        {% for languageCode in languageCodes %}
                            <li class="dropdown-item">
                                <a href="#{{ languageCode }}">
                                    {{ "language"|trans({}, null, languageCode) }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

        </div>

    </div>
</nav>
