<nav class="navbar navbar-default">
    <div class="container">

        <div class="navbar-header">

            <a class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
                
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            
            <a href="{{ url('') }}" class="navbar-brand">
                {% trans %}New Project{% endtrans %}
            </a>

        </div>
        
        
        
        <div class="collapse navbar-collapse" id="navbar">

            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="#">
                        A
                    </a>
                </li>

                <li>
                    <a href="#">
                        B
                    </a>
                </li>

                <li>
                    <a href="#">
                        C
                    </a>
                </li>
            </ul>



            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <abbr title="English">EN</abbr>

                        <span class="caret"></span>
                    </a>

                    {% set languageCodes = translatorLocales %}

                    <ul class="dropdown-menu">
                        {% for languageCode in languageCodes %}
                            <li>
                                <a href="#{{ languageCode }}">
                                    {{ "language"|trans({}, null, languageCode) }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

        </div>

    </div>
</nav>
