{% extends "index.twig" %}



{% block title %}
    Error 500 - Internal Server Error
{% endblock title %}



{% block content %}

<div class="page-header">
    <h1 class="page-header-title">
        Error 500 - Internal Server Error
    </h1>
</div>



<p class="lead">
    This page could be loaded due to an internal server error.
</p>

<p class="lead">
    Alternatively, you can <a href="http://www.checkupdown.com/status/E500.html">learn more about 500 errors</a>.
</p>

{% endblock content %}
